.item {
    margin: 30px;
    padding: 30px;
    border-radius: 10px;
}

.item .main {
    float: left;
    width: 65%;
}

.item .main label {
    font-weight: normal;
    font-size: 1.8em;
}

.item .logging {
    width: 30%;
    float: right;
}

.item .info {
    text-align: center;
    float: left;
    width: 8%;
    margin-right: 2%;
}

.item .info h4 {
    margin: 5px 0;
}

.item .info .btn {
    width: 2em;
    height: 2em;
    padding: 0;
    color: transparent;
}

.slot.item .main {
    width: 60%;
}

.slot.item h3 {
    margin-top: 5px;
}

.slot.item .main .duration {
    height: 1.3em;
    position: relative;
    background-color: white;
}

.slot.item .main .duration .number {
    position: absolute;
    width: 100%;
    text-align: center;
}

.slot.item .main .duration .logged {
    position: absolute;
    display: inline-block;
    background-color: #5cb85c;
    height: 100%;
}

.logging .actions {
    width: 100%;
}

.logging .form-group {
    margin-bottom: 10px;
}

.logging .form-group * {
    width: auto;
    display: inline-block;
}

.refresh.item .main {
    width: 10%;
}

.refresh.item .logging {
    text-align: right;
    width: 85%;
}

@media (max-width: 768px) {

    .item .info {
        float: left;
        width: 15%;
    }

    .item .main {
        float: none;
        width: 100%;
    }

    .item .logging {
        margin-top: 10px;
        padding-top: 10px;
        width: 100%;
        float: none;
    }

    .refresh.item .logging .form-group {
        width: 100%;
    }

    .item .logging .form-group {
        width: 70%;
        display: inline-block;
    }

    .item .logging .actions {
        width: 28%;
        display: inline-block;
    }

    .refresh.item .logging {
        width: 100%;
    }

    .slot.item .main {
        width: 80%;
    }
}
